* {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: $color-text;
  font-size: 1rem;
  font-weight: 300;
  text-size-adjust: 100%;
}

@media screen and (max-width: 1024px) {
  * {
    font-size: 1.5rem;
  }
}

p {
  line-height: 1.8em;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1em;
}

h2 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 0;
  line-height: 1.2em;
}

h2::after {
  content: "";
  display: block;
  width: 8rem;
  height: 0.1rem;
  background-color: $color-text;
  margin: 1.5rem auto 0  auto;
}

h3 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0;
}

strong {
  font-weight: bold;
}

button {
  border: 4px solid $color-text;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5em 1.5em;
}
button:hover {
  background-color: #F2F2F2;
}

section {
  padding: 3vw 8vw;
}