@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-regular/montserrat-regular.eot");
  src: url("/fonts/Montserrat/Montserrat-regular/montserrat-regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat/Montserrat-regular/montserrat-regular.woff") format("woff"),
    url("/fonts/Montserrat/Montserrat-regular/montserrat-regular.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-regular/montserrat-regular.ttf") format("truetype"),
    url("/fonts/Montserrat/Montserrat-regular/montserrat-regular.svg#svgFontName") format("svg");
    font-weight: normal;
	  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-bold/montserrat-bold.eot");
  src: url("/fonts/Montserrat/Montserrat-bold/montserrat-bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat/Montserrat-bold/montserrat-bold.woff") format("woff"),
    url("/fonts/Montserrat/Montserrat-bold/montserrat-bold.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-bold/montserrat-bold.ttf") format("truetype"),
    url("/fonts/Montserrat/Montserrat-bold/montserrat-bold.svg#svgFontName") format("svg");
    font-weight: 600 900;
	  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-light/poppins-light.eot');
  src: url('/fonts/Poppins/Poppins-light/poppins-light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Poppins/Poppins-light/poppins-light.woff2') format('woff2'),
       url('/fonts/Poppins/Poppins-light/poppins-light.woff') format('woff'),
       url('/fonts/Poppins/Poppins-light/poppins-light.svg#poppinslight') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-regular/poppins-regular.eot');
  src: url('/fonts/Poppins/Poppins-regular/poppins-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Poppins/Poppins-regular/poppins-regular.woff2') format('woff2'),
       url('/fonts/Poppins/Poppins-regular/poppins-regular.woff') format('woff'),
       url('/fonts/Poppins/Poppins-regular/poppins-regular.svg#poppinsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-semibold/poppins-semibold.eot');
  src: url('/fonts/Poppins/Poppins-semibold/poppins-semibold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Poppins/Poppins-semibold/poppins-semibold.woff2') format('woff2'),
       url('/fonts/Poppins/Poppins-semibold/poppins-semibold.woff') format('woff'),
       url('/fonts/Poppins/Poppins-semibold/poppins-semibold.svg#poppinssemibold') format('svg');
  font-weight: 600 900;
  font-style: normal;
}


@font-face {
	font-family: 'ElegantIcons';
	src:url('/fonts/ElegantIcons/ElegantIcons.eot');
	src:url('/fonts/ElegantIcons/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ElegantIcons/ElegantIcons.woff') format('woff'),
		url('/fonts/ElegantIcons/ElegantIcons.ttf') format('truetype'),
		url('/fonts/ElegantIcons/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'ElegantIcons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}