@import "./variables";

/* Specific BdSM colors */
h1, .light h2 {
  color: $color-bdsm;
}

.light h2::after {
 background-color: $color-bdsm;
}

.dark {
  background-color: $color-bdsm;
}

.light .block {
    border: 1px solid $color-bdsm;
}

.light button:hover {
  background-color: $color-bdsm;
}

.title {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/assets/bdsm-bg.jpg");
}

.coach:not(:last-child) {
  border-bottom: 2px solid $color-bdsm;
}
.coach figure h3 {
  color: $color-bdsm;
}