@import "./variables";

/* Elements */
h2, h3 {
  text-align: center;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.8em 0;
}

h5 {
  font-style: italic;
  margin: 0.8em 0;
}

[data-icon]:before {
  font-size: 24px;
  font-weight: 500;
  padding-right: 10px;
}

section {
  text-align: center;
}

.light + .light {
  background-color: #FBFBFB;
}

.block {
  padding: 2rem;
}

.row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 4vw;
  row-gap: 4vw;
  padding: 2vw 0;
}

@media screen and (max-width: 1024px) {
  .row {
    grid-auto-flow: row;
  }
}

/* Align icons with text vertically */
.row span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sections specific styles*/
.title {
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  text-align: center;

  &__text {
    margin: 10px 0;
  }
}

.description p {
  margin: 1em 0;
}

.learning .row {
  grid-template-rows: 1fr 1fr;
}

.agenda p {
  min-width: 500px;
}

.feedback  { 
  .block {
    padding: 1rem;
  }
  p {
    line-height: 1em;
    text-align: left;
  }
  .block p:first-of-type {
    font-style: italic;
    margin: 1rem 0;
  }
  .block img {
    width: 45%;
    border-radius: 50%;
  }
}

.row.coach {
  grid-template-columns: 1fr 5fr;
  h3, p {
    text-align: left;
  }
  h3 {
    padding-bottom: 1rem;
  }
}