@import "./variables";

.intro {
  background-color: rgba(234,247,255,0.85);

  h1 {
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    max-width: 1080px;
    margin: auto;
    padding: 2rem 0;
  }
  
  &__title {
    margin-top: 4rem;
    text-align: center;
  }

  &__text {
    margin: auto;
  }
}

.block-formation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
  margin: 8vw 0;

  $margin-right: 2rem;
  &__text {
    text-align: right;
    flex-grow: 1;
    width: 50%;
    min-width: 500px;

    h2 {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1.5rem $margin-right;
      position: relative;
    }
    h2::after {
      content: "";
      display: block;
      width: 200px;
      height: 2px;
      position: absolute;
      right: 0;
      margin: 1.5rem 0;
    }
    h3 {
      font-size: 2.25rem;
      line-height: 1.4em;
      text-transform: uppercase;
      margin: 1.5rem $margin-right;
      padding: 0;
    }
    &__description {
      margin: 1.5rem $margin-right;
    }
  }

  &__image-container {
    flex-grow: 1;
    width: 50%;
    min-width: 600px;
  }
  &__image {
    box-shadow: 0px 12px 80px -6px rgba(0,0,0,0.3);
  }
}

.block-formation.sopo {
  h2 {
    color: $color-sopo;
  }
  h2::after {
    background-color: $color-sopo;
  }
  h3 {
    color: $color-sopo;
  }
}

.block-formation.bdsm {
  h2 {
    color: $color-bdsm;
  }
  h2::after {
    background-color: $color-bdsm;
  }
  h3 {
    color: $color-bdsm;
  }
}

.block-formation.fitb {
  h2 {
    color: $color-fitb;
  }
  h2::after {
    background-color: $color-fitb;
  }
  h3 {
    color: $color-fitb;
  }
}

.block-formation.kata {
  h2 {
    color: $color-kata;
  }
  h2::after {
    background-color: $color-kata;
  }
  h3 {
    color: $color-kata;
  }
}

.block-formation.gt {
  h2 {
    color: $color-gt;
  }
  h2::after {
    background-color: $color-gt;
  }
  h3 {
    color: $color-gt;
  }
}